<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/base.css') }}">
    <title>Image Gallery App</title>
</head>
<body>
    <header>
    <h1 id="myh1">Image Gallery App</h1>
    <nav id="nav">
    <a class="nav-link" href="{{ url_for('images.home') }}">Home</a> |
    <a class="nav-link" href="{{ url_for('images.explore') }}">Explore</a> |
    {% if session.get('user_id') %}
        <a class="nav-link" href="{{ url_for('images.my_uploads') }}">My Uploads</a> |
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout ({{ session.get('username') }})</a>
    {% else %}
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a> |
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}
    </nav>
    </header>

    <main id="main-content">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div style="color: {% if category=='danger' %}red{% else %}green{% endif %};">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    </main>
</body>
</html>
